<!DOCTYPE HTML>

<html>
	<head>
		<title>Tune My Life</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						{% if user %}
							<h1>Successfully imported <br>your pictures {{user['full_name']}}!</h1>
						{% else %}
                            <a href="{{ url_for('instagram.login') }}" class="button special">LOG IN</a>
						{% endif %}
                        <nav>
                            {% if user %}
                            <ul>
                                <li><a href="#footer" class="button special">Continue</a></li>
                            </ul>
                            {% endif %}
                        </nav>
					</header>


                <!-- Main -->
                <div id="main">
                    {% for image in images %}
                        <article class="thumb">
                            <a href="{{image['url']}}" class="image"><img src={{image['url']}} alt="" /></a>
                            <h2>{{image['caption']}}</h2>
                        </article>
                    {% endfor %}
                </div>

				<!-- Footer -->
					<footer id="footer" class="panel" style="text-align:center;">
                        <div class="inner " id="generate_panel">
                            <a href="#" class="button special" id="start_app">Generate Curated Spotify Playlist</a>
                            <a href="{{ url_for('logout') }}" class="button " >Logout</a>
                        </div>
                        <div style="text-align: center" class="inner " id="loading_panel">
                            <h2>Tuning your pictures, <br>stay still...</h2>
                            <img height="50" src="/static/images/loading.gif"/>
                        </div>
                        <div class="inner " id="playlist">
                            <a href="#" class="button special">GET YOUR CURATED PLAYLIST!</a>
                        </div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>